/*
filename: [style.css]
author: [Zach Smith]
created: [16/03/2022]
last modified: [01/04/2022]
description: [css files that refers to index.html, topic.html, quiz.html, enhancements.html]
*/

/* Style the header with a grey background and some padding ---------------------------------------------------*/
@font-face {
  font-family:Avenir;
  src: url("Avenir Next LT Pro Regular.otf");
}

*{
	  font-family:Avenir, Helvetica, sans-serif;
}

body {
  background-image: url("images/background.png");
}

/*Header container -----------------------------------------------------------------------*/
.header {
	background-color: #A2A6BB;
  overflow: hidden;
  /*Set width of box + padding*/
  padding: 1px 10px;
  width: 1340px;
  max-width: 100%;
  min-wisdth: 768px;
  margin: 0 auto;
}

nav a{text-decoration:underline; margin:0.8em; padding:0.2em 0.6em; border: 2px dotted #050404; }
nav a:hover{ border:#AFEAE9;}

header{
	border:5px solid #62605F;
	margin:2em;
	padding:8px;
	border-radius:20px;
	text-align:center;
}

/*Main body container -----------------------------------------------------------------------*/
.container {
  overflow: hidden;
  background-color: #f1f1f1;
/*Set width of box + padding*/
  padding: 20px 10px;
  width: 1340px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
}
/*----------------------------------------------------------------------*/
#indeximgsize {
  height: 1000px;
 width: 1000px;
}

/*Table*/
table, tr, td, th {
  border: 1px solid black
}

th {
  background-color: purple;
  color: white;
}

.table {
  float: left;
  margin: auto;
  width: 68%
}

/*Aside characteristics*/
aside {
  width: 30%;
  float: right;
  border-top: 4px double #808080;
  border-bottom: 4px double #808080;
  margin: auto;
}

#img_aside {
  width: 110%;
}

img {
  width: 1100px;
  height: 200px;
  object-fit: contain;
}

/*Definition Table header bold*/
dt {
  font-weight: bold;
}

/*Hyperlink colour*/
a {
  color: black;
}

.Reference {
  color: grey
}

.Referencemain{
  color: #656565
}

/* Change link colour on mouse-over */
section a:hover {
  color: black;
}

.footer p a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the footer ----------------------------------------------------------------*/

.footer {
overflow: hidden;
background-color: #A2A6BB;
/*Set width of box + padding*/
padding: 1px 10px;
width: 1340px;
max-width: 100%;
min-width: 768px;
margin: 0 auto;
}

footer p {
  font-style: italic;
  text-align: center;
}

footer{
	border:3px;
	margin:4em;
	padding:6px;
	border-style:double;
	text-align:center;
}
